<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
         
          </div>
          <div class="col-md">
              <h2>Ingrese el valor a convertir</h2>
              <div>
                  <label>Unidad base:
                    <input type="string" [(ngModel)]="datosSend.unidadDato" placeholder="Unidad Base" />
                  </label><br>
                  <label>Unidad destino:
                      <input type="string" [(ngModel)]="datosSend.unidadFinal" placeholder="Unidad destino" />
                    </label><br>
                  <label>Unidad destino:
                      <input type="number" [(ngModel)]="datosSend.dato" placeholder="Cantidad" />
                    </label><br>  
                <!--<label>Valor de fuerza a convertir:
                  <input type="string" [(ngModel)]="valorIncial" placeholder="digite un valor numérico"/>
                </label><br>
                <label for="cmbUnidadInicial"> Unidad a Convertir </label><br>
                <select name="cmbUnidadInicial" ng-model="cmbUnInicial" [(ngModel)]="UnidadIni">
                  <option value="">Selecciona una opción</option>
                  <option value="newtons">Newton</option>
                  <option value="dina">dina</option>
                  <option value="libra">libra</option>
                </select><br>
                <label for="cmbUnidadDestino"> Unidad Destino </label><br>
                <select name="cmbUnidadDestino" ng-model="unFinal" [(ngModel)]="UnidadDes">
                  <option value="">Selecciona una opción</option>
                  <option value="newtons">Newton</option>
                  <option value="dina">dina</option>
                  <option value="libra">libra</option>
                </select><br>-->
                <!--label>Unindad de fuerza inicial:
                  <input type="number" [(ngModel)]="numeros.datob" placeholder="dato b"/>
                </label><br>
                <label>Unindad de fuerza final:
                  <input type="number" [(ngModel)]="numeros.datob" placeholder="dato b"/>
                </label><br>-->
              </div><br>

              <button  type = "button" class="btn" (click)="Convertir()">Convertir</button>
              <!--<button  class="btn btn-info" (click)="limpiar()">Limpiar</button>-->
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md">
          <p>Resultado:</p>
          <p> {{datoReceive.DatoInicial}} _ {{datoReceive.unidadInicial}} corresponde a: {{datoReceive.DatoConvertido}}_{{datoReceive.Unidad}} </p>
      </div>
      <div class="col-sm">
       
      </div>
    </div>
  </div>
